{% extends "HTML/base.html" %}

{% block content %}
<h1 align="center">Проверочная работа</h1>
                    <h3 align="center">по информатике</h3>
                    <div>
                        <form class="login_form" method="post">

                            <input type="text" class="form-control" id="surname" aria-describedby="surnamelHelp" placeholder="Введите фамилию" name="surname" >
                            <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Введите имя" name="name" >
                            <input type="text" class="form-control" id="class" aria-describedby="classHelp" placeholder="Введите класс в формате 9 А" name="class" >
                            <br>
                            <input type="text" class="form-control" id="var" aria-describedby="classHelp" placeholder="Введите вариант работы" name="var">
                            <br>
                             <button type="submit" class="btn btn-primary" Centered button >Начать</button>
                        </form>
                    </div>
{% endblock %}