{% extends "HTML/base.html" %}

{% block content %}
<h2>Список професиий</h2>
{% set user_list = ['инженер-строитель', 'пилот', 'строитель', 'экзобиолог', 'врач', 'инженер по терраформированию',
'климатолог', 'астрогеолог', 'гляциолог', 'инженер жизнеобеспечения', 'метеоролог', 'оператор марсохода',
'киберинженер', 'штурман', 'пилот дронов', 'специалист по радиационной защите'] %}
{% if prof == 'ul'%}
<ul>
{% for user in user_list %}
<li>{{ user }}</li>
{% endfor %}
</ul>
{% elif prof == 'ol'%}
<ol>
{% for user in user_list %}
<li>{{ user }}</li>
{% endfor %}
</ol>

{% else %}
<a>Неверный параметр.</a>
{% endif %}
{% endblock %}