{% extends "base.html" %}

{% block content %}
<h3 align="center">Страничка администратор</h3>
<form class="login_form">

    <label for="photo">Загрузка задачи(фото)</label>
    <input type="file" class="form-control-file" id="photo" name="file_photo">
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
    <h6 align="center"> скачать json </h6>
    <button type="submit" class="btn btn-primary" href="/download_file" >Скачать</button>
    </body>
</form>
{% endblock %}